#touch{
    background-image: url('../img/fundo.jpg');
    background-size: cover;
}

#touch{
    width: 100%;
    height: 545px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 20px;
}

#display{
    box-sizing: border-box;
    width: 1060px;
    height: 545px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-template-rows: repeat(3, 80px);
    column-gap: 70px;
    row-gap: 80px;
    overflow-x: scroll;
    overflow-y: unset;
    grid-auto-flow: column;
    align-content: center;
    position: absolute;
    overflow: hidden;
}

.botao{
    background-color: purple;
    width: 80px;
    height: 80px;
}

#navegador{
    background-color: white;
    background-image: url('../img/google-logo.png');
    background-size: cover;
}