@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bcfde7;
}

main{
    background-color: black;
    width: 1200px;
    height: 600px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
